<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Users</title>

    <link rel="stylesheet" th:href="@{/styles/main.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

    <th:block th:replace="~{admin/fragments/datatables-language :: dataTablesLanguage}"></th:block>
    <script>
        $(document).ready(function () {
            $("#myTable").DataTable({
                language: window.dataTablesLanguage
            });
        });
    </script>
</head>

<body>

<button class="openbtn standard-button" onclick="openNav()">Menu</button>

<main class="users-list-wrapper">

    <section th:switch="${users}">

        <h1 th:case="null"
            class="centered"
            data-th-text="#{users.header.noneFound}">
            No users found!
        </h1>

        <div th:case="*">

            <header class="page-header centered">
                <h1 data-th-text="#{users.header}">
                    Users
                </h1>
            </header>

            <section class="page-section users-list-section">

                <table class="table-with-lines users-list-table" id="myTable">

                    <colgroup>
                        <col class="col-30">
                        <col class="col-25">
                        <col class="col-25">
                        <col class="col-10">
                        <col class="col-10">
                    </colgroup>

                    <thead>
                    <tr>
                        <th data-th-text="#{users.name}">Name</th>
                        <th data-th-text="#{users.username}">Username</th>
                        <th data-th-text="#{users.email}">Email</th>
                        <th data-th-text="#{users.shiftRequest}">Request</th>
                        <th data-th-text="#{users.show}">Show</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr th:each="user : ${users}">

                        <td th:text="${user.name}"></td>

                        <td th:text="${user.username}"></td>

                        <td th:text="${user.email}"></td>

                        <td th:with="buttonLabel=${user.hasShiftRequest} ? #{users.edit} : #{users.new}">

                            <form th:action="@{/admin/update_shift_request}"
                                  method="post">

                                <input type="hidden"
                                       name="id"
                                       th:value="${user.userId}"/>

                                <button type="submit"
                                        class="table-button"
                                        th:classappend="${user.hasShiftRequest} ? ' button-orange' : ' button-green'"
                                        th:text="${buttonLabel}">
                                    Shift request
                                </button>

                            </form>

                        </td>

                        <td>

                            <div th:if="${user.hasShiftRequest}"
                                 class="centered">

                                <form target="_blank"
                                      th:action="@{/admin/show_request_summary}"
                                      method="post">

                                    <input type="hidden"
                                           name="userId"
                                           th:value="${user.userId}"/>

                                    <button class="table-button"
                                            type="submit"
                                            data-th-text="#{users.show}">
                                        Show
                                    </button>

                                </form>

                            </div>

                        </td>

                    </tr>

                    </tbody>

                </table>

            </section>

            <nav class="page-actions centered">
                <a th:href="@{/admin/adminIndex}"
                   class="standard-button button-link"
                   data-th-text="#{button.backToHomePage}">
                    Back to home page
                </a>
            </nav>

        </div>

    </section>

</main>

<div th:replace="~{admin/fragments/sidebar-admin :: adminSidebar}"></div>

<script>
    function openNav() {
        document.getElementById("adminSidebar").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("adminSidebar").style.width = "0";
    }
</script>

</body>
</html>
