<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
    <title data-th-text="#{adminPasswordChange.title}">Change user password</title>
</head>
<body>

<button class="openbtn" onclick="openNav()">menu</button>

<div class="centered">
    <h1 data-th-text="#{adminPasswordChange.header}">
        Change user password
    </h1>

    <p>
        <span data-th-text="#{adminPasswordChange.selectedUser}">
            Selected user:
        </span>
        <strong th:text="${selectedUser.name}">User name</strong>
    </p>

    <form th:action="@{/admin/change_user_password}"
          method="post"
          th:object="${passwordChangeForm}">

        <input type="hidden"
               name="userId"
               th:value="${selectedUser.userId}"/>

        <table class="table-no-lines table-narrow">

            <tr>
                <td class="td-no-lines">
                    <label for="newPassword"
                           data-th-text="#{adminPasswordChange.newPassword}">
                        New password
                    </label>
                </td>
            </tr>

            <tr>
                <td class="td-no-lines">
                    <input id="newPassword"
                           type="password"
                           th:field="*{newPassword}"/>
                </td>

                <td class="td-no-lines error-red"
                    th:if="${#fields.hasErrors('newPassword')}"
                    th:errors="*{newPassword}">
                    Password error
                </td>
            </tr>

            <tr>
                <td class="td-no-lines">
                    <label for="confirmedPassword"
                           data-th-text="#{adminPasswordChange.confirmedPassword}">
                        Confirm password
                    </label>
                </td>
            </tr>

            <tr>
                <td class="td-no-lines">
                    <input id="confirmedPassword"
                           type="password"
                           th:field="*{confirmedPassword}"/>
                </td>

                <td class="td-no-lines error-red"
                    th:if="${#fields.hasErrors('confirmedPassword')}"
                    th:errors="*{confirmedPassword}">
                    Confirmation error
                </td>
            </tr>

        </table>

        <br>

        <button type="submit"
                class="standard-button"
                data-th-text="#{button.save}">
            Save
        </button>
    </form>

    <br>

    <form th:action="@{/admin/select_user_password_change}" method="get">
        <button type="submit"
                class="standard-button"
                data-th-text="#{button.back}">
            Back
        </button>
    </form>

    <br>

    <form th:action="@{/admin/adminIndex}" method="get">
        <button type="submit"
                class="standard-button"
                data-th-text="#{button.backToHomePage}">
            Go back
        </button>
    </form>
</div>

<div th:replace="~{admin/fragments/sidebar-admin :: adminSidebar}"></div>

<script>
    function openNav() {
        document.getElementById("adminSidebar").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("adminSidebar").style.width = "0";
    }
</script>

</body>
</html>