<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
    <title>Delete user</title>
</head>

<body>

<button class="openbtn" onclick="openNav()">menu</button>

<div class="centered">
    <h1 data-th-text="#{deleteUser.header}">Delete user</h1>

    <form th:action="@{/admin/delete_user}" method="post">
        <table class="table-no-lines">
            <tr>
                <td class="td-no-lines">
                    <label for="userId" data-th-text="#{deleteUser.select}">
                        Select user
                    </label>
                </td>
            </tr>

            <tr>
                <td class="td-no-lines">
                    <select id="userId" name="userId" required>
                        <option value="" data-th-text="#{deleteUser.select}">
                            Select user
                        </option>

                        <option th:each="user : ${users}"
                                th:value="${user.id}"
                                th:text="${user.name + ' (' + user.username + ')'}">
                            User name
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td class="td-no-lines">
                    <button type="submit"
                            class="standard-button"
                            data-th-text="#{button.delete}"
                            onclick="return confirm('Delete selected user?');">
                        Delete
                    </button>
                </td>
            </tr>
        </table>
    </form>

    <br>

    <form th:action="@{/admin/users}" method="get">
        <button type="submit" class="standard-button" data-th-text="#{button.showUsers}">
            Show users
        </button>
    </form>

    <br>

    <form th:action="@{/admin/adminIndex}" method="get">
        <button type="submit" class="standard-button" data-th-text="#{button.backToHomePage}">
            Go back
        </button>
    </form>
</div>

<div th:replace="~{admin/fragments/sidebar-admin :: adminSidebar}"></div>

<script>
    function openNav() {
        document.getElementById("adminSidebar").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("adminSidebar").style.width = "0";
    }
</script>

</body>
</html>
