<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>Delete shift request</title>

    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>

<body>

<button class="openbtn" onclick="openNav()">menu</button>

<div class="centered">
    <h1 data-th-text="#{deleteRequest.header}">Delete shift request</h1>

    <form action="#"
          th:action="@{/admin/delete_request}"
          method="post"
          th:object="${updatedUser}">

        <table class="table-no-lines">
            <tr>
                <td class="td-no-lines">
                    <label for="requestSelect"
                           data-th-text="#{deleteRequest.select}">
                        Select a shift request
                    </label>
                </td>
            </tr>

            <tr>
                <td class="td-no-lines">
                    <select id="requestSelect" th:field="*{id}">
                        <option value=""
                                data-th-text="#{deleteRequest.select}">
                            Select shift request
                        </option>

                        <option th:each="user : ${users}"
                                th:value="${user.id}"
                                th:text="${user.name}">
                            User name
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td class="td-no-lines">
                    <button type="submit"
                            class="standard-button"
                            data-th-text="#{button.delete}">
                        Delete
                    </button>
                </td>
            </tr>
        </table>
    </form>

    <br>

    <a th:href="@{/admin/adminIndex}"
       class="standard-button button-link"
       data-th-text="#{button.backToHomePage}">
        Back to home page
    </a>
</div>

<div th:replace="~{admin/fragments/sidebar-admin :: adminSidebar}"></div>

<script>
    function openNav() {
        document.getElementById("adminSidebar").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("adminSidebar").style.width = "0";
    }
</script>

</body>
</html>
