<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/styles/main.css}"/>

    <title>Update user</title>
</head>

<body>

<button class="openbtn" onclick="openNav()">menu</button>

<main class="centered select-update-user-wrapper">

    <header class="page-header">
        <h1 data-th-text="#{updateSelect.header}">
            Edit user details
        </h1>
    </header>

    <section class="page-section">

        <form th:action="@{/admin/select_update_user}"
              method="post"
              th:object="${updatedUser}"
              class="select-update-user-form">

            <table class="table-no-lines select-update-user-table">

                <tbody>

                <tr>
                    <td class="td-no-lines select-update-user-cell">
                        <label for="updatedUserSelect"
                               data-th-text="#{updateSelect.select}">
                            Select user
                        </label>
                    </td>
                </tr>

                <tr>
                    <td class="td-no-lines select-update-user-cell">
                        <select id="updatedUserSelect" th:field="*{id}">
                            <option value=""
                                    data-th-text="#{updateSelect.select}">
                                Select user
                            </option>

                            <option th:each="user : ${users}"
                                    th:value="${user.id}"
                                    th:text="${user.name}">
                                User name
                            </option>
                        </select>
                    </td>
                </tr>

                </tbody>

            </table>

            <div class="form-actions">
                <button type="submit"
                        class="standard-button"
                        data-th-text="#{button.update}">
                    Update
                </button>
            </div>

        </form>

    </section>

    <nav class="page-actions centered">
        <a th:href="@{/admin/adminIndex}"
           class="standard-button button-link"
           data-th-text="#{button.backToHomePage}">
            Back to home page
        </a>
    </nav>

</main>

<div th:replace="~{admin/fragments/sidebar-admin :: adminSidebar}"></div>

<script>
    function openNav() {
        document.getElementById("adminSidebar").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("adminSidebar").style.width = "0";
    }
</script>

</body>
</html>
