<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
    <title data-th-text="#{passwordChangeSelect.title}">Change user password</title>
</head>
<body>

<button class="openbtn" onclick="openNav()">menu</button>

<div class="centered">
    <h1 data-th-text="#{passwordChangeSelect.header}">
        Change user password
    </h1>

    <form th:action="@{/admin/select_user_password_change}"
          method="post"
          th:object="${selectedUser}">

        <table class="table-no-lines table-narrow">
            <tr>
                <td class="td-no-lines">
                    <label for="userId"
                           data-th-text="#{passwordChangeSelect.select}">
                        Select the user whose password you would like to change
                    </label>
                </td>
            </tr>

            <tr>
                <td class="td-no-lines">
                    <select id="userId"
                            th:field="*{userId}"
                            required
                            onchange="this.form.submit()">

                        <option value=""
                                selected
                                disabled
                                data-th-text="#{passwordChangeSelect.userPlaceholder}">
                            Select user
                        </option>

                        <option th:each="user : ${users}"
                                th:value="${user.userId}"
                                th:text="${user.name}">
                            User name
                        </option>
                    </select>
                </td>
            </tr>
        </table>

        <br>

        <button type="submit"
                class="standard-button"
                data-th-text="#{button.continue}">
            Continue
        </button>
    </form>

    <br>

    <form th:action="@{/admin/adminIndex}" method="get">
        <button type="submit"
                class="standard-button"
                data-th-text="#{button.backToHomePage}">
            Go back
        </button>
    </form>
</div>

<div th:replace="~{admin/fragments/sidebar-admin :: adminSidebar}"></div>

<script>
    function openNav() {
        document.getElementById("adminSidebar").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("adminSidebar").style.width = "0";
    }
</script>

</body>
</html>