<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>User updated successfully</title>

    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>

<body>

<button class="openbtn" onclick="openNav()">menu</button>

<div class="centered">

    <h1 th:if="${actionType == 'update'}"
        data-th-text="#{update.success.header}">
        User details updated successfully!
    </h1>

    <h1 th:if="${actionType == 'add'}"
        data-th-text="#{add.success.header}">
        The new user has been registered successfully!
    </h1>

    <br>

    <form th:action="@{/admin/register_user}" method="get">
        <button type="submit"
                class="standard-button"
                data-th-text="#{button.registerAnother}">
            Register new user
        </button>
    </form>

    <br>

    <form th:action="@{/admin/all_users_list}" method="get">
        <button type="submit"
                class="standard-button"
                data-th-text="#{button.showUsers}">
            Show users
        </button>
    </form>

    <br>

    <form th:action="@{/admin/adminIndex}" method="get">
        <button type="submit"
                class="standard-button"
                data-th-text="#{button.backToHomePage}">
            Go back
        </button>
    </form>

</div>

<div th:replace="~{admin/fragments/sidebar-admin :: adminSidebar}"></div>

<script>
    function openNav() {
        document.getElementById("adminSidebar").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("adminSidebar").style.width = "0";
    }
</script>

</body>
</html>