<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>User updated successfully</title>

    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>

<body>

<button class="openbtn" onclick="openNav()">menu</button>

<main class="centered user-update-success-wrapper">

    <header class="page-header">

        <h1 th:if="${actionType == 'update'}"
            data-th-text="#{update.success.header}">
            User details updated successfully!
        </h1>

        <h1 th:if="${actionType == 'add'}"
            data-th-text="#{add.success.header}">
            The new user has been registered successfully!
        </h1>

    </header>

    <nav class="page-actions user-update-success-actions centered">

        <form th:action="@{/admin/register_user}"
              method="get"
              class="inline-action-form">

            <button type="submit"
                    class="standard-button"
                    data-th-text="#{button.registerAnother}">
                Register new user
            </button>

        </form>

        <form th:action="@{/admin/all_users_list}"
              method="get"
              class="inline-action-form">

            <button type="submit"
                    class="standard-button"
                    data-th-text="#{button.showUsers}">
                Show users
            </button>

        </form>

        <a th:href="@{/admin/adminIndex}"
           class="standard-button button-link"
           data-th-text="#{button.backToHomePage}">
            Back to home page
        </a>

    </nav>

</main>

<div th:replace="~{admin/fragments/sidebar-admin :: adminSidebar}"></div>

<script>
    function openNav() {
        document.getElementById("adminSidebar").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("adminSidebar").style.width = "0";
    }
</script>

</body>
</html>
