<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--meta charset="ISO-8859-1"!-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
		<title>Change password</title>
		<link rel="stylesheet" th:href="@{/styles/main.css}"/>
	</head>
    <body>
	    <div class="centered">
		  <h1 data-th-text="#{change.password.header}">Change password</h1>
	      <form action="#" th:action="@{/user/change_password}" method="post">
			  <table class="table-with-lines">
				  <tr>
					  <td>
						  <label for="newPassword"
					             data-th-text="#{change.password.new}">
							  New password:
						  </label>
					  </td>

					  <td>
						  <input type="password"
					             id="newPassword"
					             th:value="${newPassword}"
					             th:name="newPassword" />
					  </td>

					  <td th:if="${noMatch}"
				          data-th-text="#{change.password.mustMatch}">
						  passwords must match
					  </td>

					  <td th:if="${tooShort}"
				          data-th-text="#{change.password.eight}">
						  must be at least eight characters long
					  </td>
				  </tr>

				  <tr>
					  <td>
						  <label for="confirmNewPassword"
					             data-th-text="#{change.password.confirm}">
							  Confirm new password:
						  </label>
					  </td>

					  <td>
						  <input type="password"
					             id="confirmNewPassword"
					             th:value="${confirmNewPassword}"
					             th:name="confirmNewPassword" />
					  </td>

					  <td th:if="${noMatch}"
				          data-th-text="#{change.password.mustMatch}">
						  passwords must match
					  </td>

					  <td th:if="${tooShort}">
					  </td>
				  </tr>
			  </table>
		        <br>
		        <div class="centered">
		        	<p><button type="submit" class="standard-button" data-th-text="#{button.change}">Change</button> </p>
		        </div>
	       </form>		
		   <form  th:unless="${isAdmin}" th:action="@{/user/userIndex}" method="get">
		        <button type="submit" class="standard-button" data-th-text="#{button.backToHomePage}">Go back</button>
		    </form>	        
	    </div>
    </body>
</html>