<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Change password</title>
	<link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>

<body>
<div class="centered">
	<h1 data-th-text="#{change.password.header}">Change password</h1>

	<form action="#" th:action="@{/user/change_password}" method="post" th:object="${passwordChangeForm}">
		<table class="table-with-lines">
			<tr>
				<td>
					<label for="newPassword" data-th-text="#{change.password.new}">
						New password:
					</label>
				</td>

				<td th:classappend="${#fields.hasErrors('newPassword')} ? ' error-red'">
					<input type="password"
					       id="newPassword"
					       th:field="*{newPassword}"/>
				</td>

				<td th:if="${#fields.hasErrors('newPassword')}"
				    th:errors="*{newPassword}">
					Password error
				</td>

				<td th:if="${noMatch == true}" data-th-text="#{change.password.mustMatch}">
					passwords must match
				</td>
			</tr>

			<tr>
				<td>
					<label for="confirmedPassword" data-th-text="#{change.password.confirm}">
						Confirm new password:
					</label>
				</td>

				<td th:classappend="${#fields.hasErrors('confirmedPassword') || noMatch == true} ? ' error-red'">
					<input type="password"
					       id="confirmedPassword"
					       th:field="*{confirmedPassword}"/>
				</td>

				<td th:if="${noMatch == true}" data-th-text="#{change.password.mustMatch}">
					passwords must match
				</td>
			</tr>
		</table>

		<br>

		<div class="centered">
			<button type="submit" class="standard-button" data-th-text="#{button.change}">
				Change
			</button>
		</div>
	</form>

	<br>

	<form th:unless="${isAdmin}" th:action="@{/user/userIndex}" method="get">
		<button type="submit" class="standard-button" data-th-text="#{button.backToHomePage}">
			Go back
		</button>
	</form>
</div>
</body>
</html>