<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>Password changed</title>

    <link rel="stylesheet" th:href="@{/styles/main.css}"/>

    <meta http-equiv="refresh" content="3;url=/user/userIndex">
</head>

<body>

<main class="centered password-changed-wrapper">

    <header class="page-header">
        <h1 data-th-text="#{password.change.success.header}">
            Password changed successfully
        </h1>
    </header>

    <section class="page-section password-changed-message">
        <p data-th-text="#{password.change.success.message}">
            Your password has been updated successfully.
        </p>

        <p data-th-text="#{password.change.success.redirect}">
            You will be redirected shortly.
        </p>
    </section>

    <nav class="page-actions centered">
        <a th:href="@{/admin/adminIndex}"
           class="standard-button button-link"
           data-th-text="#{button.backToHomePage}">
            Back to home page
        </a>
    </nav>

</main>

</body>
</html>
