<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>Password changed</title>

	<link rel="stylesheet" th:href="@{/styles/main.css}"/>

	<!-- Automatic redirect after 3 seconds -->
	<meta http-equiv="refresh" content="3;url=/user/userIndex">
</head>

<body>

<div class="centered">

	<h1 data-th-text="#{password.change.success.header}">
		Password changed successfully
	</h1>

	<br>

	<p data-th-text="#{password.change.success.message}">
		Your password has been updated successfully.
	</p>

	<p data-th-text="#{password.change.success.redirect}">
		You will be redirected shortly.
	</p>

	<br>

	<form th:action="@{/user/userIndex}" method="get">
		<button type="submit"
		        class="standard-button"
		        data-th-text="#{button.backToHomePage}">
			Go back
		</button>
	</form>

</div>

</body>
</html>