<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Request Summary</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>

<body>

<div class="centered">
    <h1>
        <span data-th-text="#{requestSummary.header}">Request summary of: </span>
        <span th:text="${submittedShiftRequestRecord != null ? submittedShiftRequestRecord.displayName : displayName}"></span>
    </h1>

    <div class="language-flags">
        <a th:href="@{/user/request_summary(language=cz)}">
            <img alt="CZ" class="flag" th:src="@{/images/cz.png}" title="Česky">
        </a>
        <a th:href="@{/user/request_summary(language=en)}">
            <img alt="US" class="flag" th:src="@{/images/us.png}" title="English">
        </a>
    </div>
</div>

<br>

<div class="centered" th:if="${submittedShiftRequestRecord != null}">
    <table class="table-with-lines centered">
        <colgroup>
            <col class="col-10">
            <col class="col-56">
            <col class="col-10">
            <col class="col-10">
            <col class="col-7">
            <col th:if="${isAdmin}" class="col-7">
        </colgroup>

        <thead>
        <tr>
            <th class="centered" data-th-text="#{label.shiftType}">Shift type</th>
            <th class="centered" data-th-text="#{label.stringDatesYes}">Dates YES</th>
            <th data-th-text="#{label.weekdayCount}">Weekday count</th>
            <th data-th-text="#{label.weekendCount}">Weekend count</th>
            <th data-th-text="#{label.anyDateSelected}">Any date</th>
            <th th:if="${isAdmin}" data-th-text="#{label.priority}">Priority</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="preference : ${submittedShiftRequestRecord.preferences}"
            th:if="${preference.noShiftRequested == false}">
            <td>
                <span data-th-text="#{'shiftType' + ${preference.shiftType}}">Shift type</span>
                <span th:text="${preference.shiftType}"></span>
            </td>
            <td th:text="${preference.stringDatesYes}"></td>
            <td class="centered" th:text="${preference.weekdayCount}"></td>
            <td class="centered" th:text="${preference.weekendCount}"></td>
            <td class="centered" th:if="${preference.anyDateSelected}"><b>X</b></td>
            <td th:unless="${preference.anyDateSelected}"></td>
            <td class="centered" th:if="${isAdmin}" th:text="${preference.priority}"></td>
        </tr>
        </tbody>
    </table>

    <div th:if="${!#strings.isEmpty(submittedShiftRequestRecord.stringDatesNo)}">
        <br>
        <table class="table-no-lines">
            <tr>
                <td class="td-no-lines right-aligned electric-blue">
                    <b data-th-text="#{label.stringDatesNo}">Dates NO:</b>
                </td>
                <td class="td-no-lines left-aligned electric-blue"
                    th:text="${submittedShiftRequestRecord.stringDatesNo}">
                </td>
            </tr>
        </table>
        <br>
    </div>
</div>

<div class="centered" th:if="${submittedShiftRequestRecord == null}">
    <p data-th-text="#{userIndex.noValidRequest}">
        The user doesn't have a shift request in the system. Please submit a shift request first.
    </p>
</div>

<br>

<div class="centered">
    <form th:if="${isAdmin}" th:action="@{/admin/adminIndex}" method="get">
        <button type="submit" class="standard-button" data-th-text="#{button.backToHomePage}">
            Back to home page
        </button>
    </form>

    <form th:unless="${isAdmin}" th:action="@{/user/userIndex}" method="get">
        <button type="submit" class="standard-button" data-th-text="#{button.backToHomePage}">
            Back to home page
        </button>
    </form>
</div>

<br>

<div class="centered">
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="standard-button" data-th-text="#{button.signout}">
            Sign out
        </button>
    </form>
</div>

</body>
</html>
