<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>Shift request deleted</title>

    <link rel="stylesheet" th:href="@{/styles/main.css}"/>

    <meta http-equiv="refresh"
          th:content="'3;url=' + ${redirectUrl}">
</head>

<body>

<main class="centered shift-request-deleted-wrapper">

    <header class="page-header">
        <h1 data-th-text="#{shiftRequest.delete.success.header}">
            Shift request deleted successfully
        </h1>
    </header>

    <section class="page-section shift-request-deleted-message">
        <p data-th-text="#{shiftRequest.delete.success.message}">
            The shift request has been deleted successfully.
        </p>

        <p data-th-text="#{shiftRequest.delete.success.redirect}">
            You will be redirected shortly.
        </p>
    </section>

    <nav class="page-actions centered">
        <a th:href="@{/admin/adminIndex}"
           class="standard-button button-link"
           data-th-text="#{button.backToHomePage}">
            Back to home page
        </a>
    </nav>

</main>

</body>
</html>
