<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Request Summary</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>

<body>

<main class="centered shift-request-summary-wrapper">

    <header class="page-header">
        <h1>
            <span data-th-text="#{requestSummary.header}">Request summary of: </span>
            <span th:text="${displayName}"></span>
        </h1>
    </header>

    <section class="page-section"
             th:if="${submittedShiftRequestRecord != null}">

        <div class="shift-request-summary-table-wrapper">

            <table class="table-with-lines shift-request-summary-table">
                <colgroup>
                    <col class="col-10">
                    <col class="col-56">
                    <col class="col-10">
                    <col class="col-10">
                    <col class="col-7">
                    <col th:if="${isAdmin}" class="col-7">
                </colgroup>

                <thead>
                <tr>
                    <th class="centered" data-th-text="#{label.shiftType}">
                        Shift type
                    </th>
                    <th class="centered" data-th-text="#{label.stringDatesYes}">
                        Dates YES
                    </th>
                    <th data-th-text="#{label.weekdayCount}">
                        Weekday count
                    </th>
                    <th data-th-text="#{label.weekendCount}">
                        Weekend count
                    </th>
                    <th data-th-text="#{label.anyDateSelected}">
                        Any date
                    </th>
                    <th th:if="${isAdmin}" data-th-text="#{label.priority}">
                        Priority
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="preference : ${submittedShiftRequestRecord.preferences}"
                    th:if="${preference.noShiftRequested == false}">
                    <td>
                        <span data-th-text="#{'shiftType' + ${preference.shiftType}}">Shift type</span>
                        <span th:text="${preference.shiftType}"></span>
                    </td>

                    <td th:text="${preference.stringDatesYes}"></td>

                    <td class="centered" th:text="${preference.weekdayCount}"></td>

                    <td class="centered" th:text="${preference.weekendCount}"></td>

                    <td class="centered" th:if="${preference.anyDateSelected}">
                        <b>X</b>
                    </td>

                    <td th:unless="${preference.anyDateSelected}"></td>

                    <td class="centered" th:if="${isAdmin}" th:text="${preference.priority}"></td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="shift-request-dates-no"
             th:if="${!#strings.isEmpty(submittedShiftRequestRecord.stringDatesNo)}">

            <table class="table-no-lines shift-request-dates-no-table">
                <tbody>
                <tr>
                    <td class="td-no-lines right-aligned electric-blue">
                        <b data-th-text="#{label.stringDatesNo}">
                            Dates NO:
                        </b>
                    </td>

                    <td class="td-no-lines left-aligned electric-blue"
                        th:text="${submittedShiftRequestRecord.stringDatesNo}">
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </section>

    <section class="page-section"
             th:if="${submittedShiftRequestRecord == null}">

        <p data-th-text="#{userIndex.noValidRequest}">
            The user doesn't have a shift request in the system. Please submit a shift request first.
        </p>

    </section>

    <nav class="page-actions centered">

        <a th:if="${isAdmin}"
           th:href="@{/admin/adminIndex}"
           class="standard-button button-link"
           data-th-text="#{button.backToHomePage}">
            Back to home page
        </a>

        <a th:unless="${isAdmin}"
           th:href="@{/user/userIndex}"
           class="standard-button button-link"
           data-th-text="#{button.backToHomePage}">
            Back to home page
        </a>

        <form th:action="@{/logout}"
              method="post"
              class="inline-action-form">

            <button type="submit"
                    class="standard-button"
                    data-th-text="#{button.signout}">
                Sign out
            </button>

        </form>

    </nav>

</main>

</body>
</html>
