<div th:fragment="adminSidebar" id="adminSidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="/admin/adminIndex" data-th-text="#{sidebar.landingPage}">Home page</a>
    <a href="/admin/register_user" data-th-text="#{sidebar.registerNew}">Register a new user</a>
    <a href="/admin/all_users_list" data-th-text="#{sidebar.showAllUsers}">Show all users</a>
    <a href="/admin/delete_user" data-th-text="#{sidebar.deleteUser}">Delete user</a>
    <a href="/admin/update_user" data-th-text="#{sidebar.updateUser}">Update user</a>
    <a href="/admin/select_user_password_change" data-th-text="#{sidebar.changeUserPassword}">Change a user's password</a>
    <a href="/admin/download_userlist_as_spreadsheet" data-th-text="#{sidebar.exportUsers}">Download user list as a spreadsheet</a>
    <a href="/admin/delete_shift_request" data-th-text="#{sidebar.deleteRequest}">Delete shift request</a>
    <a href="/admin/update_shift_request" data-th-text="#{sidebar.updateRequest}">Update shift request</a>
    <b><a href="/admin/calculate_schedule_select" data-th-text="#{sidebar.calculateSchedule}"><b>Calculate schedule</b></a></b>
    <a href="/admin/show_saved_schedules" data-th-text="#{sidebar.showSchedules}">Show saved schedules</a>
    <a href="/admin/planned_tasks" data-th-text="#{sidebar.scheduledTasks}">Planned tasks</a>
    <a href="/admin/download_activity_log" data-th-text="#{button.downloadActivityLog}">Download activity log</a>
    <br>
    <div>
        <form th:action="@{/logout}" method="post">
            <button class="signoutbtn" type="submit" data-th-text="#{sidebar.signout}">Sign out</button>
        </form>
    </div>
</div>